span.badge.friend:after {
    content: " คน";
}

span.badge.friend {
  background-color: #EE6E73;
  color: #fff;
}

a.sent-to-friend {
	font-size: 1em;
	width: 160px;
	background-color: #fff ;
	color: #212121;
}

a.sent-to-friend:hover {
	background-color: #EE6E74 ;
	color: #fff;
}



a.follow {
	color: #03a9f4;
	font-size: 1em;
	width: 160px;
	background-color: #fff ;
}

a.follow:hover {
	color: white;
	background-color: #03a9f4;
}

a.follow:hover:after {
	content: "ติดตาม";
}
a.follow:hover span {
	display: none;
}

a.unfollow {
	font-size: 1em;
	width: 150px;
	background-color: #4db6ac;
}

a.unfollow:hover {
	background-color: #c62828;
}

a.unfollow:hover:after {
	content: "เลิกเป็นเพื่อน";
}
a.unfollow:hover span {
	display: none;
}

a.quit {
	font-size: 1em;
	width: 150px;
	background-color: #4db6ac;
}

  a.quit:hover {
	background-color: #c62828;
}

a.quit:hover:after {
	content: "ยกเลิกกิจกรรม";
}
a.quit:hover span {
	display: none;
}


img.following {
	width: 100px;
	max-height: 100px;
}

.card-title {
	color: #EE6E74;
}

span.card-title {
	font-size: 1em;
}

span.align-friend-name{
	    top: 30px;
    position: absolute;
    margin-left: 20px;
    	white-space: nowrap;
	text-overflow: ellipsis;
	width: 66%;
	overflow: hidden;

}

span.follow-status {
	color: #757575;
	position: absolute;
    top: 80px;
    margin-left: 20px;
}

.card .card-content p {
	color: #757575;

}

@media screen and (max-width: 992px) and (min-width: 601px) {

	a.sent-to-friend {
	font-size: 12pt;
	width: 150px;
	background-color: #fff ;
	color: #212121;
}
	a.unfollow {
	font-size: 12pt;
	width: 150px;
	background-color: #4db6ac ;
}

	span.align-friend-name{
	    top: 30px;
    position: absolute;
    margin-left: 20px;
    	white-space: nowrap;
	text-overflow: ellipsis;
	width: 50%;
	overflow: hidden;

}

}
