
body {
	position: absolute;
	top: 0px;
	bottom: 0px;
	left: 0px;
	margin: 0px;
	padding: 0px;
	height: 100%;
	width: 100%;
	background-color: #DEF2EF;
}

#formLogin {
	position: absolute;
	top: 0px;
	bottom: 10%;
	right: 0px;
	left: 0px;
	margin: auto;
	background: white;
	min-width: 270px;
	max-width: 500px;
	min-height: 400px;
	max-height: 500px;
	padding: 30px;
	border-radius: 10px 10px 10px 10px;
}